@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
  }

  body {
    background-image: url("/assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #app {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    height: 90%;
    width: 90%;
  }
}